body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
     url(netflix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Lato', sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

img{
    float: left;
    width: 180px;
    padding: 2rem 3rem;
} 
@media(max-width:768px){
    img{
        width: 120px;
    }
}
@media(max-width:600px){
    img{
        width: 100px;
    }
} 
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;

} 
.sign-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 8rem 4rem;
    background: rgba(0,0,0,0.8) ;
    border-radius: 5px;
    height: 50vh;
    position: relative;
    right: 130px;
    top: 60px;
}
.sign-page h1{
    position: relative;
    left: -110%;
    font-size: 35px;
}
.sign-page input{
    width: 280px;
    border: 0;
    border-radius: 4px;
    color: #ffff;
    font-weight: 500;
    height: 30px;
    line-height: 50px;
    padding: 10px 25px ;
    background: #333;
    font-size: 15px;
}
.sign-page input:focus{
    outline: 0;
}
.sign-page button{
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin: 24px 0 12px;
    padding: 15px 35px;
    background-color: #e50914;
    color:white;
    width: 330px;
    cursor: pointer;
    border: 0;  
}
.input-2{
    margin-top: -10px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    gap: 10rem;
    color: #b3b3b3;
    margin-top: -50px;
}
#check{
    width: 15px;
    position: relative;
    top: 10px;
    padding-right: 5px;
    color: #b3b3b3;
    accent-color:#b3b3b3;
}
.sign-link{
    text-decoration: none;
    color: #b3b3b3;
    position: relative;
    top: 10px;
}
.bottom-2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #b3b3b3;
}
.bottom-2 p{
    font-size: 14px;
}
.bottom-2 h3{
    font-weight: 300;
}
.text-spec{
    color: blue;
    cursor: pointer;
}
.text-spec:hover{
    text-decoration: underline;
}
.bottom-2 a{
    text-decoration: none;
    color: #fff;
}
.bottom-2 a:hover{
    text-decoration: underline;
}

 